.detailHeading {
	border-bottom: 1px dotted #ccc;
}

.profilePicContainer {
	display: flex;
	justify-content: center;
}

.profilePicWrap {
	width: 256px;
	height: 256px;
	border-radius: 50%;
	overflow: hidden;
	background-color: #ccc;
	display: inline-block;
	vertical-align: middle;
}

.profilePic {
	width: 100%;
}

.actionButton {
	margin-top: 16px;
	width: 100%;
}